@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  background-color: #c0c0c0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.img-container {
  position: relative;
  height: 100%;
  background-image: url('../assets/bg-green.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 200px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 30%;
  background-color: rgba(19, 18, 18, 0.322);
}

h1 {
  color: white;
}

@media only screen and (min-width: 900px) {
  .wrapper {
    flex-direction: row;
  }

  .img-container {
    min-width: 500px;
    height: 100vh;
  }

  .img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
