@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --primary: green;
  --accent: gainsboro;
  --secondary: white;
  --translucent-blk: rgba(19, 18, 18, 0.479);
}

html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  background-color: #c0c0c0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
}

.img-container {
  position: relative;
  background-image: url('../assets/bg-green.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 20%;
  background-color: var(--translucent-blk);
}

header img {
  height: 70px;
  width: auto;
}

header h1 {
  color: var(--secondary);
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

p {
  font-size: 18px;
  font-weight: 700;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  padding: 30px 0 0 20px;
  height: 35%;
}

.form-content {
  height: 40%;
  padding: 10px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.51);
}

.form-content p {
  margin-left: 10px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

form > * {
  flex-basis: 100%;
}

form label {
  display: block;
}

form input {
  width: clamp(90%, 210px, 100%);
  padding: 5px;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
  border: 2px solid purple;
}

.bottom-content {
  background-color: var(--accent);
  padding: 10px;
  margin-top: 10px;
  height: 25%;
}

button {
  padding: 10px 30px;
  background-color: var(--secondary);
  border: 1px solid black;
}

@media only screen and (min-width: 900px) {
  .wrapper {
    flex-direction: row;
    height: 100vh;
  }

  header img {
    height: 200px;
  }

  header h1 {
    font-size: 70px;
  }

  .img-container {
    min-width: 450px;
    height: 100%;
  }
}
